SYNC_PORT=3000
ACTUAL_SERVER_IP=192.168.1.1
ACTUAL_BACKEND_PORT=5006
GOOGLE_APPLICATION_CREDENTIALS=path_to_your_credentials.json
ACTUAL_SERVER_PASSWORD=your_actual_server_password
ACTUAL_BUDGET_ID=your_actual_budget_id
SPREADSHEET_ID=your_spreadsheet_id
ACCOUNTS_BALANCES_RANGE=Sheet1!A1:B
PRIOR_MONTH_RANGE=Sheet2!A1:E
CURRENT_MONTH_RANGE=Sheet3!A1:E
