SPREADSHEET_ID=
ACCOUNTS_BALANCES_RANGE='Accounts_and_Balances!A:B'
CATEGORIES_DETAILS_RANGE='Categories_and_Details!A:E'
GOOGLE_APPLICATION_CREDENTIALS=
ACTUAL_SERVER_PASSWORD=
ACTUAL_SERVER_URL=
ACTUAL_BUDGET_ID=
ACTUAL_BUDGET_PASSWORD=
